*{
  margin:0;
  padding:0;

}

.header{
	height:100px;
	display:flex;
	align-items:center;
}



#map {
    height: 60%;
    width: 100%;
}


@media screen and  (min-width: 900px){

  .spinner {
  	width:100%;
  	height:70px;
  	background-image: url('../img/1.png');
  	background-size: cover;
  	background-repeat:no-repeat;
  	display:flex;
  	flex-direction:column;
    transition: all 0.3s ease;
  }

	.logo{
		background-image:url("../img/loire-a-velo.png");
		width:100%;
		height:100%;
		background-repeat:no-repeat;
		background-position : 10px 50%;

	}
	.bike{

		width:100%;
		height:100%;


	}

	.biker{
		background-image:url("../img/bike.svg");
		background-repeat:no-repeat;
		background-position : 95% 50%;
	  height: 100%;
		width: 65px;
		float:right;
		margin-right:10px;
	}

	#hamburgeois{
		display:none;
	}

	#menu900{
		display:none;
	}

	.center {
		display:flex;
		text-align:center;
		justify-content:center;
	}

	ul {
	 list-style-type:none;
	 }

	ul li {
	 display: inline-block;
	  margin:20px;
	 }

	ul li a {
	 text-transform: uppercase;
	 width:100px;
	 color:#fff;
	 text-decoration:none;
	 text-align:center;
	 font-family: 'Muli';
	 font-weight:bold;
	 font-size:1.1em;
	 }

	ul li a:after {
	  display:block;
	  content: '';
	  border-bottom: solid 3px;
	  transform: scaleX(0);
	  transition: transform 0.2s ease-in-out;
	  padding:5px;
	  width: 50%;
	  margin-left: auto;
	  margin-right: auto;

	}

	ul li a:hover:after {
	transform: scaleX(1);
	}
	ul li a:after{  transform-origin:  0% 50%; }

}
@media screen and  (max-width: 900px){

	#hamburgeois{
		display:flex;
		text-align:center;
		justify-content:center;
		flex-direction:column;
		position:relative;
		height:40px;
		width:40px;
		margin-left:20px;
		padding:8px;
		border-radius:2px;
		transition: all 0.3s ease;
	}

	#hamburgeois:hover .line{
		opacity: 1;
	}

	.spinner {
	width:100%;
	height:0px;
	background-image: url("../img/1.png");
	background-size: cover;
	background-repeat:no-repeat;
	display:flex;
	flex-direction:column;
}

	.line{
    opacity: 0.5;
		height:1px;
		width:100%;
    background-color: #333;
		margin-top:5px;
		margin-bottom:5px;
		transition: all 0.1s ease;
	}
  .close {
    opacity: 0.5;
    height: 40px;
    width: 40px;
  }
  #hamburgeois:hover .close {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    content: ' ';
    height: 35px;
    width: 1px;
    top:10px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }



	#menu900{
		background-color:#fff;
		height:300px;
	}
	#menu900 ul{
		display:flex;
		transition: all 0.3s ease;
		background-color:#fff;
		text-align:center;
		justify-content:center;
		flex-direction:column;
		color:#000;
	}

  #menu900Hidden ul{
    display:none;
  }

	ul {
	 list-style-type:none;
	 }

	ul li {
		display: inline-block;
		padding:5px;
		border-bottom: solid 1px;
		margin:10px;
	 }

	ul li a {
	 text-transform: uppercase;
	 width:100px;
	 color:#222;
	 text-decoration:none;
	 text-align:center;
	 font-family: 'Muli';
	 font-weight:bold;
	 font-size:1.1em;

	 }

	.center{
		display:none;
	}
}

#footer{
  font-family:'Muli';
  position:relative;
  background-color: #008a2d;
  width:100%;
  display: flex;
  height:150px;
  flex-direction: row;
}
#container{
  width:100%;
  height:100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sous a:link{
	color:#B0F2B6;
	background-color:transparent;
	text-decoration:none;
}

.sous a:visited {
	color:white;
	background-color:transparent;
	text-decoration:none;
}
.sous a:hover   {
	color:#F0FFF0;
	background-color:transparent;
	text-decoration:underline;
}

.sous a:active  {
	color:#B0F2B6;
	background-color:transparent;
	text-decoration:underline
}
.boite{
	display:flex;
	flex-direction:column;
	font-size: 1.0em;
	margin-left: 4%;
	margin-right: 4%;
}

.boite h1{
		font-size: 1.0em;
  color: #F0FFF0;
  text-transform:uppercase;
}

.lien{
	margin-left:8%;
	margin-right:8%;
  color:white;
}

.block{
  width: 40px;
  height: 40px;
}

#facebook{
	background:url(../img/facebook.svg);
	background-position: center;
	background-repeat: no-repeat;
}

#twitter{
	background:url(../img/twitter.svg);
	background-position: center;
	background-repeat: no-repeat;
}

#instagram{
	background:url(../img/instagram.svg);
	background-position: center;
	background-repeat: no-repeat;
}

#reseau {
	margin-top:20px;
	display: flex;
	flex-direction: row;
  align-items: center;
  justify-content: center;
}



@media (max-width: 900px) {

.boite{
	display: inline-block;

	margin-left: 3%;
	margin-right: 3%;
  text-align: center;
}

#reseau {
	margin-top:10px;
	display: flex;
	flex-direction: column;
}

#facebook{
	background-position: center;
	background-repeat: no-repeat;
  background-size: 29px;
  height: 29px;
}

#twitter{
	background-position: center;
	background-repeat: no-repeat;
  background-size:29px;
  height: 29px;
}

#instagram{
	background-position: center;
  background-repeat: no-repeat;
	background-size: 29px;
  height: 29px;
}


@media (max-width: 450px) {

.boite{
	display: inline-block;
		font-size: 0.75em;
	margin-left: 3%;
	margin-right: 3%;
  text-align: center;
}

#reseau {
	margin-top:10px;
	display: flex;
	flex-direction: column;
}

#facebook{
	background-position: center;
	background-repeat: no-repeat;
  background-size: 25px;
  height: 29px;
}

#twitter{
	background-position: center;
	background-repeat: no-repeat;
  background-size: 25px;
  height: 29px;
}

#instagram{
	background-position: center;
  background-repeat: no-repeat;
	background-size: 25px;
  height: 29px;
}


}
